<header>
    <div class="header-title">
        <span>D</span>
        <img src="img/dnd-ampersand.png" alt="D&D Ampersand">
        <span>D Campaign Wiki</span>
    </div>
    <nav>
        <ul>
            <li><a href="index.html">Campaigns</a></li>
            <li><a href="characters.html">Characters</a></li>
            <li><a href="npcs.html">NPCs</a></li>
            <li><a href="world.html">World</a></li>
            <li><a href="lore.html">Lore</a></li>
        </ul>
    </nav>
</header>